body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 100vh;
}

#display {
    /* background-color: darkcyan; */
    /* color: aliceblue; */
    border-radius: 3px;
    text-align: end;
    padding: 20px 30px;
    min-height: 40px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.symbolButtons:hover {
    background-color: orange;
}

.numButtons:hover {
    background-color: beige;
}

#symbolsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.symbolButtons {
    padding: 20px;
    background-color: bisque;
}

#numContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numButtons {
    min-width: 30%;
    flex-grow: 1;
}

.decimal{
    font-size: xx-large;
    font-weight: 900;
}