body {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#display {
    border: solid 2px blue;
    text-align: end;
    padding: 20px 30px;
    min-height: 30px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

button:hover {
    background-color: aqua;
}

#symbolsContainer {
    display: flex;
    flex-direction: column;

}

.oppButtons {
    padding: 20px;
}

#numContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numButtons {
    min-width: 30%;
    flex-grow: 1;
}